In [1]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')
#print(df.tail(3)) #tail and head take both, the bottom and the top of your file info
#if youre using a .txt function, that was actually a csv, you can set a delimiter, example: pd.read_csv('name of the file.txt', delimiter='delimiter')

##Reading Headers.

print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [28]:
###### READING AND ORGANIZING THE DATA #######

###Reading Header

df.columns

###Read Each Column

df['Name'] # Between [''] you put the name of the column that you saw in the first command (df.columns) 
#print(df[['Name', 'Type 1', 'HP']][0:5]) # you can also make a list, using it like this (THE 0:5 IS A DELIMITER OF LINES)

###Print Eacho Row
#print(df.head(4))
#print(df.iloc[1:4]) #it takes rows and separetes it as a column
#print(df.iloc[2,1]) #it takes a specific information of that row, the first number defines the row and the second its position on the column
#for index, row in df.iterrows():
#    print(index, row['Name']) #The best way to take row by row, in this case we are also separating them by name in row
#df.loc[df['Type 1'] == "Fire"]   # The best way for you to search for information in each column, in this case, it will print all the pokemons that its `Type 1' column match with "Fire"

### Sorting

#df.sort_values('Name') # As name use words, it`ll return them alphabetically sorted
df.sort_values(['Type 1', 'Name'], ascending=[1,0]) #It will separete them by type and name, for example: all the bug types from a-z then all the fire types from a-z again
                                                    #As 1=True and 0=False, in the above sentence, 'Type 1' will be ascending and 'Name' descending

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
208,193,Yanma,Bug,Flying,65,65,45,75,45,95,2,False
288,265,Wurmple,Bug,NaN,45,45,35,20,30,20,3,False
460,413,WormadamTrash Cloak,Bug,Steel,60,69,95,69,95,36,4,False
459,413,WormadamSandy Cloak,Bug,Ground,60,79,105,59,85,36,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
610,550,Basculin,Water,NaN,70,92,65,80,55,98,5,False
371,339,Barboach,Water,Ground,50,48,43,46,41,60,3,False
199,184,Azumarill,Water,Fairy,100,50,80,60,80,50,2,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False

In [2]:
####### MAKING CHANGES TO THE DATA #######

### Here we will make a sum of all the number digit columns to see what pokemon is the strongest

#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']  #THIS WILL MAKE A APPENDICE COLUMN TO THE CSV NAMED TOTAL
#df.sort_values(['Total'], ascending=False)
#df = df.drop(columns=['Total'])
#df.head(5)

### Another way to make a sum of columns

df['Total'] = df.iloc[:, 4:10].sum(axis=1)  # axis=1 take the row, if axis=0 it will sum vertically.
#df.head(5)

### To change the order of the column, you can reorganize it.

df = df[['Name', 'Type 1', 'Type 2', 'Total', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'HP', 'Generation', 'Legendary']]
#  Now the total will be between 'Type 2' and 'Attack'
df.head(5)

,Name,Type 1,Type 2,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,HP,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,49,49,65,65,45,45,1,False
1,Ivysaur,Grass,Poison,405,62,63,80,80,60,60,1,False
2,Venusaur,Grass,Poison,525,82,83,100,100,80,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,100,123,122,120,80,80,1,False
4,Charmander,Fire,NaN,309,52,43,60,50,65,39,1,False

In [20]:
### IF YOU WANT TO CHANGE YOUR CSV TO EXCEL, OR TXT, OR THE OTHER WAY AROUND, YOU CAN USE THIS:

#df.to_excel('modified.xlsx') # THIS WILL CRIATE AN EXCEL FILE NAMED 'modified' in the folder that we are in
#df.to_csv('modified.txt', index=False, sep='\t') #THIS WILL CREATE A TXT FILE OF THE ORIGINIAL CSV.
#df.to_csv('modified.csv') #if df was txt, or excel.

## Always when you save a new file, the index will be equals to its last position, to reset this, you can use: df.reset_index()

In [15]:
####### FILTERING DATA #######

### As we saw before, .loc can be pretty useful:

#df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')] #This is is will only show us the pokemons that its type 1 is equals to grass and its type 2 equals to Poison
#df.loc[(df['Type 1'] == 'Fire')  | (df['Type 2'] == 'Dragon') & (df['HP'] >= 70)] # This will give us pokemons that its type 1 is fire OR its type 2 is dragon and it has over 70hp

### You can also save this specific search as a new csv

#new_df = df.loc[(df['Type 1'] == 'Fire')  | (df['Type 2'] == 'Dragon') & (df['HP'] >= 70)]
#new_df.reset_index(drop=True, inplace=True)
#new_df.to_csv('fire|dragonPokemons.csv') # This will create a new csv
#new_df

### Now let`s say that you dont want any of the Mega pokemons in there, to take any String that matches with mega out, you do this:
#df.loc[~df['Name'].str.contains('Mega')] # If you put ~ in front of the commands, youll get the opossite of it, in this case all the pokemons that arent megapokemons
### Theres another way you can search for information using loc
import re

#df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I,regex=True)] #  This will ignore case(flags=re.I) and look for fire and grass type 1 pokemons

### Now let`s say that we want just the pokemons that start with pi

df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I,regex=True)] # This says that any name that starts with pi and continue with letters from a-z is what whe are looking for
# the ^ before pi says that the name has to start there

,Name,Type 1,Type 2,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,HP,Generation,Legendary
20,Pidgey,Normal,Flying,251,45,40,35,35,56,40,1,False
21,Pidgeotto,Normal,Flying,349,60,55,50,50,71,63,1,False
22,Pidgeot,Normal,Flying,479,80,75,70,70,101,83,1,False
23,PidgeotMega Pidgeot,Normal,Flying,579,80,80,135,80,121,83,1,False
30,Pikachu,Electric,NaN,320,55,40,50,50,90,35,1,False
136,Pinsir,Bug,NaN,500,125,100,55,70,85,65,1,False
137,PinsirMega Pinsir,Bug,Flying,600,155,120,65,90,105,65,1,False
186,Pichu,Electric,NaN,205,40,15,35,35,60,20,2,False
219,Pineco,Bug,NaN,290,65,90,35,35,15,50,2,False
239,Piloswine,Ice,Ground,450,100,80,60,60,50,100,2,False
438,Piplup,Water,NaN,314,51,53,61,56,40,53,4,False
558,Pignite,Fire,Fighting,418,93,55,70,55,55,90,5,False
578,Pidove,Normal,Flying,264,55,50,36,30,43,50,5,False

In [11]:
####### CONDITIONAL CHANGES #######

# This is how you change all the words that matches with others, in this case fire with flames

#df.loc[df['Type 1'] == 'Fire', ['Type 1']] = 'Flames' # This will changes all the fire type 1 pokemons to flames type 1 pokemons
#df.loc[df['Type 1'] == 'Flames', 'Type 1'] = 'Fire' # Going back to normal.
# You can use this several ways, in this example we will turn all the fire pokemons into legendary pokemons
#df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True
# You can also make a list of changes at a single time, for example:

#df.loc[df['Type 1'] == 'Fire', ['Type 2', 'Legendary']] = ['Fire', 'Monkey']  # This will make all the type 1 fire pokemons turn into type 2 fire pokemons and in legendary itll print 'monkey'

#df = pd.read_csv('pokemon_data.csv')
#df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True